{% load static %}

{% block content %}
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


</head>
<body style="background: gray">
<div class="row">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2 style="margin-top: 100px">Change Password</h2>
<div  style="margin-top: 20px" class="card">
{% if validlink %}
<article class="card-body">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>
{{ field }}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<button type="submit" class="btn btn-primary">Save Password</button>
</form>
</article>
{% else %}
<article class="card-body">
<p>
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
</article>
{% endif %}
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
</body>

{% endblock %}